[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
tqdm = "*"
cython = "*"
pydicom = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.7"
