attrs==22.1.0
cycler==0.11.0
Cython==0.29.32
fonttools==4.34.4
iniconfig==1.1.1
kiwisolver==1.4.4
llvmlite==0.39.0
matplotlib==3.5.2
numba==0.56.0
numpy==1.22.4
packaging==21.3
Pillow==10.0.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
scipy==1.9.0
six==1.16.0
tomli==2.0.1
